{% extends "ambessador/ambessador_base.html" %}
{% block content %}
<section>
    <div class="image-container">
        <img src="../media/image/management.webp" alt="Background Image" class="background-image" style="width: 100%;">
        <div class="image-container-text">
            <div style="margin-left: 100px; margin-top:10%; margin-bottom: 100px; color: white; z-index: 200;">
                <h1>WELCOME TO</h1>
                <h2>GODREJ AMBASSADOR</h2>
                <p>It’s more than a home, it’s a lifestyle.<br><br>
                    <a href="{% url 'reffernow' %}">REFER NOW</a>
                    <div id="widthdiv"></div>
                </p>
            </div>
        </div>
        
    </div>
</section>
<section id="overview">
    <div class="row align-items-center">
        <div class="col-lg-12 col-md-12 text-center">
            <h3>WELCOME TO THE GODREJ AMBASSADOR PROGRAM</h3>
            <hr style="width: 200px; background-color: gray; height: 5px; border: none;">
        </div>
        <div class="col-lg-8 col-md-10 col-sm-12 mx-auto text-center">
            Godrej Ambassador is an exclusive luxury membership program for homeowners at Godrej Properties. The program curates a lifestyle that goes beyond homeowning and enriches every facet of the member's life.
        </div>
        <div class="col-lg-8 col-md-10 col-sm-12 mx-auto text-center mt-3">
            <b>GET 1% REWARD AND SHARE 1% DISCOUNT</b>
        </div>
        <div class="container mt-5">
            <div class="row justify-content-center text-center">
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <img src="../media/logo/reward.png" alt="logo" class="img-fluid" style="width: 150px; height: 150px;">
                    <p>Avail exclusive lifestyle offers & benefits</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <img src="../media/logo/reward.png" alt="logo" class="img-fluid" style="width: 150px; height: 150px;">
                    <p>Avail exclusive lifestyle offers & benefits</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <img src="../media/logo/reward.png" alt="logo" class="img-fluid" style="width: 150px; height: 150px;">
                    <p>Avail exclusive lifestyle offers & benefits</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="image-container">
                            <img src="../media/image/medianews.jpg" alt="Background Image" class="background-image" style="width: 100%;">
                            <div class="image-container-text" style="width:34%;">
                                <div style="margin:10%; color: white; z-index: 200;">
                                    <b>REFERRALS AND EARNINGS</b><br><br>
                                    <p>Building a community needs trust. As part of Godrej Ambassador, you can share your 
                                    lifestyle with friends and family and earn benefits for successfully referring them.
                                    With us, you can build a community surrounded by people you love, creating a neighborhood
                                    that you feel connected to.</p>
                                    <a href="#">REFER NOW</a>
                                    <div id="widthdiv"></div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="image-container">
                            <img src="../media/image/design2.png" alt="Background Image" class="background-image" style="width: 100%;">
                            <div class="image-container-text" style="width:34%;">
                                <div style="margin:10%; color: white; z-index: 200;">
                                    <b>EXCLUSIVE EVENTS</b><br><br>
                                    <p>As a member of the Godrej Ambassador Program, you get access to exclusive events and 
                                    gatherings. Enjoy premium experiences that are curated specially for you and your family.</p>
                                    <a href="#">LEARN MORE</a>
                                    <div id="widthdiv"></div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="image-container">
                            <img src="../media/image/design2.webp" alt="Background Image" class="background-image" style="width: 100%;">
                            <div class="image-container-text" style="width:34%;">
                                <div style="margin:10%; color: white; z-index: 200;">
                                    <b>PREMIUM BENEFITS</b><br><br>
                                    <p>Enjoy a range of premium benefits as part of the Godrej Ambassador Program. From 
                                    lifestyle offers to exclusive services, we ensure you get the best out of your membership.</p>
                                    <a href="#">DISCOVER MORE</a>
                                    <div id="widthdiv"></div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 text-center mt-5">
            <h3>START BUILDING YOUR COMMUNITY NOW</h3>
        </div>
        <div class="col-lg-8 col-md-10 col-sm-12 mx-auto text-center mb-5">
            The best communities are built on trust and care for one another. Godrej Ambassador offers you the 
            opportunity to refer your loved ones and help them become a part of a community that goes beyond 
            sharing a neighbourhood.
        </div>
        <div class="col-lg-12 col-md-12 mb-5">
            <div class="image-container" style="box-shadow: 5px 5px 5px 5px gray;">
                <img src="../media/image/management.webp" alt="Background Image" class="background-image" style="width: 100%;height:350px;">
                <div class="image-container-text text-center d-flex" style="height:100%;">
                    <div style="margin-top:5%;margin-left:200px;width:200px;"><h1>ENRICHING EXPERIENCES</h1></div>
                    <div style="margin-left: 50%;margin-top: -6%;">
                        <button class="animated-border-button">Refer Now</button>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <span style="float:left;margin-top:105px;margin-left:10px;">Powered by <img src="../media/logo/reloy-icon2.png" alt="logo" style="width:200px;height:50px"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 text-center">
                    <b>MAKE IT WORK FOR YOU</b>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-lg-6 col-md-6 col-sm-12 text-center mb-4">
                    <img src="../media/logo/reward.png" alt="logo" class="img-fluid"><br><br>
                    <p>
                        <b>STEP 1</b><br><br>
                        We connect with your references and introduce them to Godrej Ambassador.
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 text-center mb-4">
                    <img src="../media/logo/reward.png" alt="logo" class="img-fluid"><br><br>
                    <p>
                        <b>STEP 2</b><br><br>
                        We connect with your references and introduce them to Godrej Ambassador.
                    </p>
                </div>
            </div>
        </div>
        <canvas style="width:100%;height:5px;background-color: gray;"></canvas>
    </div>
</section>
<section id="aboutus">
    <div class="row">
        <div class="row mt-5 mb-3">
            <div class="col-lg-1 col-md-12">
            </div>
            <div class="col-lg-7 col-md-12">
                <h4>KNOW MORE ABOUT GODREJ PROPERTIES</h4>
                <canvas style="width:200px;height:5px;background-color: gray;"></canvas><br>
                Godrej Properties brings the Godrej Group philosophy of innovation, sustainability, and excellence to the real estate industry. Each Godrej Properties development combines a 125–year legacy of excellence and trust with a commitment to cutting-edge design and technology. In recent years, Godrej Properties has received over 250 awards and recognitions, including ‘The Most Trusted Real Estate Brand’ in 2019 from the Brand Trust Report, 'Real Estate Company of the Year' at the 9th Construction Week Awards 2019, ‘Equality and Diversity Champion’ 2019 at the APREA Property Leaders Awards, ‘The Economic Times Best Real Estate Brand 2018’ and the ‘Builder of the Year’ at the CNBC-Awaaz Real Estate Awards 2018. In 2016, we stood 2nd in Asia and 5th in the world in the GRESB (Global Real Estate Sustainability Benchmarking) study, which is an industry led sustainability and governance benchmarking platform.
            </div>
            <div class="col-lg-4 col-md-12">
                <img src="../media/image/image4.webp" alt="Image">
            </div>
        </div>
        <canvas style="width:100%;height:5px;background-color: gray;"></canvas>
    </div>
    <div class="container">
        <div class="row mt-5 d-flex align-items-center">
            <div class="col-lg-12 col-md-12 text-center">
                <h2>GODREJ PROPERTIES LATEST BLOGS</h2>
                <canvas style="width:200px;height:5px;background-color:black;"></canvas>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 box-shadow-outsite">
                    <div class="image-container">
                        <img src="../media/image/management.webp" alt="Background Image" class="background-image" style="width: 100%; height: 300px;">
                        <div class="image-container-text" style="width:fit-content;height:30px;border-radius: 2px;padding:5px;margin:5px;">
                            Home and Realestate
                        </div>
                    </div>
                    <p style="font-weight:bold;font-size: large;">Amp Up Your Interiors with 5 Low-Budget Home Design Ideas</p>
                    <div class="d-flex justify-content-between">
                        <div>
                            <span><i class="bi bi-heart-fill"></i></span>
                            <span><i class="bi bi-share"></i></span>
                            <span><i class="bi bi-chat"></i></span>
                        </div>
                        <span>04.07.24</span>
                    </div>
                    <p>
                        Our home has more than four walls and a roof. ...
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary"> readmore >></a>
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 box-shadow-outsite">
                    <div class="image-container">
                        <img src="../media/image/management.webp" alt="Background Image" class="background-image" style="width: 100%; height: 300px;">
                        <div class="image-container-text" style="width:fit-content;height:30px;border-radius: 2px;padding:5px;margin:5px;">
                            Home and Realestate
                        </div>
                    </div>
                    <p style="font-weight:bold;font-size: large;">Amp Up Your Interiors with 5 Low-Budget Home Design Ideas</p>
                    <div class="d-flex justify-content-between">
                        <div>
                            <span><i class="bi bi-heart-fill"></i></span>
                            <span><i class="bi bi-share"></i></span>
                            <span><i class="bi bi-chat"></i></span>
                        </div>
                        <span>04.07.24</span>
                    </div>
                    <p>
                        Our home has more than four walls and a roof. ...
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary"> readmore >></a>
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 box-shadow-outsite">
                    <div class="image-container">
                        <img src="../media/image/management.webp" alt="Background Image" class="background-image" style="width: 100%; height: 300px;">
                        <div class="image-container-text" style="width:fit-content;height:30px;border-radius: 2px;padding:5px;margin:5px;">
                            Home and Realestate
                        </div>
                    </div>
                    <p style="font-weight:bold;font-size: large;">Amp Up Your Interiors with 5 Low-Budget Home Design Ideas</p>
                    <div class="d-flex justify-content-between">
                        <div>
                            <span><i class="bi bi-heart-fill"></i></span>
                            <span><i class="bi bi-share"></i></span>
                            <span><i class="bi bi-chat"></i></span>
                        </div>
                        <span>04.07.24</span>
                    </div>
                    <p>
                        Our home has more than four walls and a roof. ...
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary"> readmore >></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="image-container">
        <div class="row mt-5 d-flex align-items-center">
            <div class="col-lg-12 col-md-12 text-center">
                <a href="#" class="btn btn-info custom-btn">LOAD MORE</a>
                <div id="widthdiv"></div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row align-items-center mt-5">
        <div class="col-lg-12 col-md-12 text-center">
            <h4>OUR PROJECT LOCATIONS</h4>
            <canvas style="width:100px;height:3px;background-color:black;"></canvas>
        </div>
        <div class="container my-5">
            <div class="row text-center align-items-center">
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                    <img src="../media/logo/mombai-building.jpg" alt="Mumbai" class="img-fluid city-img">
                    <p class="city-name"><b>MUMBAI</b></p>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                    <img src="../media/logo/pune-building.jpg" alt="Pune" class="img-fluid city-img">
                    <p class="city-name"><b>PUNE</b></p>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                    <img src="../media/logo/bangole-building.jpg" alt="Bangalore" class="img-fluid city-img">
                    <p class="city-name"><b>BANGALORE</b></p>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                    <img src="../media/logo/lotus-temple.jpg" alt="NCR-Delhi" class="img-fluid city-img">
                    <p class="city-name"><b>NCR-DELHI</b></p>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                    <img src="../media/logo/colkata-building.jpg" alt="Kolkata" class="img-fluid city-img">
                    <p class="city-name"><b>KOLKATA</b></p>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                    <img src="../media/logo/ahemdabad-building.jpg" alt="Ahmedabad" class="img-fluid city-img">
                    <p class="city-name"><b>AHMEDABAD</b></p>
                </div>
            </div>
        </div>


    </div>
</section>


{% endblock content %}



