{% extends 'base.html' %}
{% block content %}
</div>
{% load static %}
{% include "aboutusheader.html" %}
<img src="../media/image/aboutusbackground.png" style="margin-top:-205px;height:620px;width:100%;">
{% comment %} <div class="text-center text-white" style="margin-top:-80px;">
    <h2>
        Godrej One #WhereWeWork
    </h2>
</div> {% endcomment %}
<p class="url-directory" style="margin-top: 80px;"><a href="/">Home</a> >> <a href="aboutus">Outstory</a> >> <a href="management"><b>{{ last_url_word }}</b></a> <p>
<br>
<br>
<br>
<div class="row textAlign-center d-flex align-items-center bg-light mt-5">
    <div class="col-lg-12 col-md-12 text-center" style="background-color:white;">
        <span class="line-before"></span>
        <span class="text"><b>THE GODREJ GROUP</b></span>
        <span class="line-after"></span>
        <center>
        <p class="col-lg-10 col-md-12 fs-5 fw-lighter text-roman mt-5 text-left">
            Established in 1897, the Godrej Group has its roots in India's Independence and Swadeshi movement.
             Our founder, Ardeshir Godrej, a lawyer-turned-serial entrepreneur failed with a few ventures before
              he struck gold with a locks business.
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, iste!</p>
              <br>
              <br>

            Today, we enjoy the patronage of 1.1 billion consumers globally across consumer goods, real estate,
             appliances, agriculture and many other businesses. In fact, our geographical footprint extends beyond
              Earth, with our engines now powering many of India's space missions.
              <div class="text-center fs-6" id="moreBtn">
                <button style="color:black;border:none;background-color:white;" onclick="read('more')"><u>Read More</u></a>
              </div>
              <div class="col-lg-10 col-md-12 fs-5 fw-lighter text-roman mt-5 text-left" style="display:none;" id="more">
                With a revenue of over USD 6 billion, we are growing fast, and have exciting, ambitious aspirations.
                <br>
                <br>
                But for us, it is most important that besides our strong financial performance and innovative, 
                much-loved products, we remain a good company. Approximately 23 per cent of the promoter holding 
                in the Godrej Group is held in trusts that invest in the environment, health and education. We are 
                also bringing together our passion and purpose to make a difference through our Good & Green strategy
                 of 'shared value' to create a more inclusive and greener India.
                <br>
                <br>
                At the heart of all of this is our people. We take much pride in fostering an inspiring workplace,
                 with an agile and high-performance culture. We are also deeply committed to recognizing and valuing
                  diversity across our teams.
                  <div class="text-center fs-6">
                    <button style="color:black;border:none;background-color:white;" onclick="read('less')"><u>Read Less</u></a>
                  </div>
              </div>
              
              <div>

              </div>
        </p>
    </center>
    </div>
</div>
<br>
<br>
<div class="row mt-3">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-top:-76px;">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static '../media/image/slider1.jpg' %}" class="d-block w-100" alt="First slide">
            </div>
            <div class="carousel-item">
                <img src="{% static '../media/image/slider2.jpg' %}" class="d-block w-100" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img src="{% static '../media/image/slider3.jpg' %}" class="d-block w-100" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="row textAlign-center d-flex align-items-center bg-light mt-5 mb-3">
    <div class="col-lg-12 col-md-12 text-center" style="background-color:white;">
        <span class="line-before"></span>
        <span class="text"><b>OUR JOURNEY</b></span>
        <span class="line-after"></span>
    
        <center>
        <p class="col-lg-10 col-md-12 text-center fs-1 mt-5 text-dark" style="font-family:Times New Roman;">
            "127-year legacy of excellence and trust with a commitment to cutting-edge design and technology."
        </p>
        <p class="col-lg-10 col-md-12 fs-5 fw-lighter text-roman mt-5 text-left mb-0" >
            Godrej Properties brings the Godrej Group philosophy of innovation, sustainability, and excellence to 
            the real estate industry. Every Godrej Properties' development combines a 127–year legacy of excellence
             and trust with a commitment to cutting-edge design and technology. Since 1990, Godrej Properties 
             Limited (GPL) has been a bellwether of excellence in the Indian real estate industry.
            <br><br>
             In recent years, Godrej Properties has received over 400 awards including recognition for
              ‘Environmental and Social initiatives’ at
              <div class="text-center fs-6" id="moreBtn2" style="margin:0px;margin-top:0px;">
                <button style="color:black;border:none;background-color:white;" onclick="read2('more')"><u>Read More</u></a>
              </div>
              <div class="col-lg-10 col-md-12 fs-5 fw-lighter text-roman text-left" style="display:none;margin-top:0px;" id="more2">
                the KPMG ESG Conclave and Awards 2023, the Gold Award for Gender Equality at the ICAI International 
                Sustainability Reporting Awards 2022, ‘The Most Trusted Real Estate Brand’ in 2019 from the Brand 
                Trust Report, ‘Equality and Diversity Champion’ 2019 at the APREA Property Leaders Awards, 
                ‘The Economic Times Best Real Estate Brand 2018’ and the ‘Builder of the Year’ at the CNBC- Awaaz 
                Real Estate Awards 2018.<br><br>
                Headquartered in Mumbai, Godrej Properties is present in 12 cities in the country and has a 
                workforce of 2,391 employees.

                <h4>LISTING</h4>

                In 2010, Godrej Properties became a publicly listed company following a successful IPO, mobilising 
                USD 100 Million. GPL is listed on the National Stock Exchange of India Limited and the Bombay Stock 
                Exchange Limited with a market capitalisation of ₹28,651 Crore as on March 31, 2023. We are one of 
                the few national developers in India with a significant presence across all major real estate 
                markets in the nation..

                <h4>OUR PRESENCE</h4>

                As of March 31, 2023, the company had 92 active and upcoming projects with a combined saleable area 
                of ~200 million square feet. We continue to expand to more geographies in addition to our focus on 
                four core regions of Mumbai Metropolitan Region, National Capital Region, Pune and Bengaluru.
                  <div class="text-center fs-6">
                    <button style="color:black;border:none;background-color:white;" onclick="read2('less')"><u>Read Less</u></a>
                  </div>
              </div>
              
              <div>

              </div>
        </p>
    </center>
    </div>
</div>

<div class="row mt-5" style="background-color:white;">
    <div class="col-lg-12 col-md-12 text-center" style="background-color:white;">
        <span class="line-before"></span>
        <span class="text"><b>THE PURPOSE OF JOY</b></span>
        <span class="line-after"></span>
    </div>
    <div class="container content-container mt-5">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img src="../media/image/image1.webp" class="img-fluid" alt="Image description" style="width:100%;height:450px">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="content">
                    <p>We create spaces that enable Everyday Joys; one community, one family, and one home at a time. The joy we bring to neighbourhoods, to families and our customers is what drives our purpose forward. It has always been at the forefront of everything we do, and every business decision we make. We constantly strive to work in harmony with all our stakeholders to achieve this shared goal of 'Creating Customer Joy'.</p>
                    <div class="svg-container mt-5">
                        <svg viewBox="0 0 442 125" fill="none" width="18em" class="svg-icon">
                            <path d="M.25 85.43s29.688 8.162 49.17 10.79c31.798 4.286 50.596 5.761 82.159 0 22.158-4.046 34.405-8.264 54.98-17.428 6.256-2.787 15.768-7.677 15.768-7.677s26.586-16.475 27.801-33.403c1.185-16.52-5.095-34.88-21.577-36.515-17.594-1.743-26.488 18.837-26.764 36.515-.258 16.48 22.199 35.893 22.199 35.893s15.145 13.075 26.142 19.502c16.8 9.819 27.745 12.944 46.681 17.428 20.986 4.968 54.979 5.186 54.979 5.186" stroke="#D7D8DA" stroke-width="1.84" stroke-dasharray="7.05 7.05"></path>
                            <path d="m367.887 124.224-3.942-4.357 74.482.83-70.54 3.527Z" fill="#EC3B95"></path>
                            <path d="m326.391 119.452 25.933-18.464 85.271 18.464-74.067-26.14 17.22-12.242 61.204 40.042-115.561-1.66Z" fill="#8DC641"></path>
                            <path d="m363.531 93.313 75.312 26.556-71.577-15.561-3.735-10.996Z" fill="#1F93D0"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    </div>

</div>
<div class="row textAlign-center d-flex align-items-center bg-light mt-5 mb-3">
    <div class="col-lg-12 col-md-12 text-center" style="background-color:white;">
        <span class="line-before"></span>
        <span class="text"><b>RECOGNIZED BY THE BEST</b></span>
        <span class="line-after"></span>
    
    <center>
        <p class="col-lg-8 col-md-12 text-center fs-2 mt-5 text-dark" style="font-family:Times New Roman;">
            “Godrej Properties has received over 400 awards and recognitions in the recent years.”
        </p>
    </center>
    </div>
</div>
<section id="recognigedBest" class="bg-light">
    
    <div class="row textAlign-center d-flex align-items-center bg-light p-5">
        <div class="col-lg-12 col-md-12 text-center">
            <span class="line-before"></span>
            <span class="text"><b>RECOGNIZED BY THE BEST</b></span>
            <span class="line-after"></span>
        </div>
    </div>
    <center>
        <p class="col-lg-10 col-md-12 fs-1 fw-lighter text-roman">
            “Godrej Properties has received over 400 awards and recognitions in the recent years.”
        </p>
        {% include "reward.html" %}
        
</section>

{% endblock content %}
{% include 'footer.html' %}
    