<span id="last_word" style="display:none;">{{last_url_word}}</span>
<nav class="navbar navbar-dark" id="aboutus" style="background:none;position:sticky;z-index:500;margin-top:150px;">
    <div class="container-fluid" style="width:80%;">
        <div class="navbar-item">
            OUR STORY
        </div>
        <div class="navbar-item" style="margin-left:20%;" id="aboutus-link">
            <a class="nav-link {{aboutus}}" href="{% url 'aboutus' %}">ABOUT US</a>
        </div>
        <div class="navbar-item" id="management-link">
            <a class="nav-link {{management}}" href=" {% url  'management'  %}" id="management-link">MANAGEMENT</a>
        </div>
        <div class="navbar-item" id="sustatnability-link">
            <a class="nav-link {{sustatnability}}" href="{% url 'sustatnability' %}"  >SUSTAINABILITY</a>
        </div>
        <div class="navbar-item" id="design-link">
            <a class="nav-link {{design}}" href="{% url 'design' %}" >DESIGN</a>
        </div>
    </div>
</nav>