<span id="last_word" style="display:none;">{{last_url_word}}</span>
<nav class="navbar navbar-dark">
    <div class="container-fluid" style="width:80%;border-bottom:1px solid white;">
    <a class="navbar-brand" href="/"><img src="../media/logo/brand.webp" style="height:50px;width:170px;"></a>
    
    <div class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </div>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">MENU</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href='{% url "index" %}'>HOME</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        PROJECTS
                    </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="residential">RESIDENTIAL</a></li>
                    <li><a class="dropdown-item" href="commercial">COMMERCIAL</a></li>
                </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="hometally">HOME ALLY</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        INVESTORS
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" >
                        <li><a class="dropdown-item" href="finance">FINANCIALS</li>
                        <li><a class="dropdown-item" href="investorInform">INVESTOR INFORMATION</li>
                        <li><a class="dropdown-item" href="governanceLeadership">GOVERNANCE & LEADERSHIP</li>
                        <li><a class="dropdown-item" href="compliance">COMPLIANCES</li>
                        <li><a class="dropdown-item" href="esg">ESG</li>
                        <li><a class="dropdown-item" href="discloser">DISCLOSURES UNDER REGULATION <br>46 & 62 OF THE SEBI</li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        MEDIA CENTER
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" >
                        <li><a class="dropdown-item" href="news">NEWS</li>
                        <li><a class="dropdown-item" href="pressreleas">PRESS RELEASE</li>
                        <li><a class="dropdown-item" href="mediagallery">MEDIA GALLERY</li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        NRI CORNER
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" >
                        <li><a class="dropdown-item" href="legalinformation">LEGAL INFORMATION</li>
                        <li><a class="dropdown-item" href="loanfornri">LOAN FOR NRIs</li>
                        <li><a class="dropdown-item" href="nrifaq">NRI FAQs</li>
                        <li><a class="dropdown-item" href="internationaloffice">OUR INTERNATIONAL OFFICES</li>
                        <li><a class="dropdown-item" href="enqurenow">ENQUIRE NOW</li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blogs">BLOGS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="aboutus">OUR STORY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ambessador">GODREJ AMBASSADOR</a>
                </li>
                <li>
                    <hr>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ENQUIRE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">SCHEDULE A SITE VISIT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">WORK WITH US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">REACH US</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
</nav>
<nav class="navbar navbar-dark fixed-top" id="aboutus" style="background:none;position:sticky;z-index:500;">
    <div class="container-fluid" style="width:80%;">
        <div class="navbar-item">
            OUR STORY
        </div>
        <div class="navbar-item" style="margin-left:20%;" id="aboutus-link">
            <a class="nav-link {{aboutus}}" href="{% url 'aboutus' %}">ABOUT US</a>
        </div>
        <div class="navbar-item" id="management-link">
            <a class="nav-link {{management}}" href=" {% url  'management'  %}" id="management-link">MANAGEMENT</a>
        </div>
        <div class="navbar-item" id="sustatnability-link">
            <a class="nav-link {{sustatnability}}" href="{% url 'sustatnability' %}"  >SUSTAINABILITY</a>
        </div>
        <div class="navbar-item" id="design-link">
            <a class="nav-link {{design}}" href="{% url 'design' %}" >DESIGN</a>
        </div>
    </div>
</nav>