{% extends "base.html" %}
{% block content %}
{% include "investormenu.html" %}
<div class="container mt-5">
    <div class="row">
        <p style="font-size: 45px;">
            <b>Disclosures under Regulation 46 & 62 of SEBI (Listing Obligations and Disclosure Requirements) Regulations, 2015</b>
        </p>
        <table class="table" style="border: 1px solid;">
            <tr><td><a href="aboutus" target="_blank">Details of bussiness</a></tr>
            <tr>
                <td>
                    <table style="border: 1px solid;width:100%;">
                        <b>Terms and conditions of appointment of independent directors:</b>
                        <tr>
                            <td><a href="#">Letter of appointment of Mrs. Sutapa Banerjee</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">Letter of appointment of Dr Indu Bhushan</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">Letter of appointment of Ms. Jayashree Vaidhyanathan</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">Letter of appointment of Mr. Sumeet Narang</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">Draft Letter of re-appointment of Mrs. Sutapa Banerjee</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr><td><a href="#">Composition of various committees of board of directors</a></td></tr>
            <tr><td><a href="#">Code of conduct of board of directors and senior management personnel</a></td></tr>
            <tr><td><a href="#">Details of establishment of vigil mechanism/ Whistle Blower policy</a></td></tr>
            <tr><td><a href="#">Criteria of making payments to non-executive directors, if the same has not been disclosed in annual report</a></td></tr>
            <tr><td><a href="#">Policy on dealing with related party transactions</a></td></tr>
            <tr><td><a href="#">Policy for determining ‘material’ subsidiaries</a></td></tr>
            <tr>
                <td>
                    <table style="border: 1px solid;width:100%;">
                        <b>Details of familiarization programmes imparted to independent directors including the following:</b>
                        <br>(i) number of programmes attended by the independent directors (during the year and on a cumulative basis till date),
                        <br>(ii) number of hours spent by the independent directors in such programmes (during the year and on cumulative basis till date),
                            and
                        <br>(iii) other relevant details.
                        <tr>
                            <td><a href="#">FY 2023-24</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">FY 2022-23</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">FY 2021-22</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">FY 2020-21</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">FY 2019-20</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">FY 2018-19</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">FY 2017-18</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr><td><a href="#">Email address for grievance redressal and other relevant details</a></td></tr>
            <tr><td><a href="#">Contact information of the designated officials of the listed entity who are responsible for assisting and handling investor grievances</a></td></tr>
            <tr>
                <td>
                    <table style="border: 1px solid;width:100%;">
                        <b>Financial information including:</b>
                        <tr>
                            <td><a href="#">Notice of board meeting where financial results shall be discussed</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">Financial results</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">Complete copy of the annual report including balance sheet, profit and loss account, directors report, corporate governance report etc</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr><td><a href="#">Shareholding pattern (including all entities falling under promoter and promoter group disclosed separately in the shareholding pattern)</a></td></tr>
            <tr><td><a href="#">Schedule of analysts or institutional investors meet and presentations made by the listed entity to analysts or institutional investors. Explanation: For the purpose of this clause ‘meet’ shall mean group meetings or group conference calls conducted physically or through digital means.</a></td></tr>
            <tr><td>
                Audio or video recordings and transcripts of post earnings/quarterly calls, by whatever name called, conducted physically or through digital means, simultaneously with submission to the recognized stock exchange(s), in the following manner:
                <br><a href="#">(i) the presentation and the audio/video recordings shall be promptly made available on the website and in any case, before the next trading day or within twenty-four hours from the conclusion of such calls, whichever is earlier;</a>
                <br><a href="#">(ii) the transcripts of such calls shall be made available on the website within five working days of the conclusion of such calls</a>
                </td>
            </tr>
            <tr><td>
                Items published in newspapers as per regulation 47 (1)
                <br><a href="#">(a) financial results, as specified in regulation 33, along-with the modified opinion(s) or reservation(s), if any, expressed by the auditor.</a>
                <br><a href="#">(b) notices given to shareholders by advertisement.</a>
                </td>
            </tr>
            <tr><td><a href="#">Credit rating or revision in credit rating obtained by the entity for all its outstanding instruments/non-convertible debt securities</a></td></tr>
            <tr><td><a href="#">Separate audited financial statements of each subsidiary of the listed entity in respect of a relevant financial year, uploaded at least 21 days prior to the date of the annual general meeting which has been called to inter alia consider accounts of that financial year</a></td></tr>
            <tr><td><a href="#">Secretarial compliance report as per sub-regulation (2) of regulation 24A</a></td></tr>
            <tr><td><a href="#">Disclosure of the policy for determination of materiality of events or information required under clause (ii), sub-regulation (4) of Regulation 30</a></td></tr>
            <tr><td><a href="#">Disclosure of contact details of key managerial personnel who are authorized for the purpose of determining materiality of an event or information and for the purpose of making disclosures to stock exchange(s) as required under sub-regulation (5) of Regulation 30</a></td></tr>
            <tr><td><a href="#">All events or information which has been disclosed to stock exchange(s) under Regulation 30</a></td></tr>
            <tr><td><a href="#">Statements of deviation(s) or variation(s) as specified in regulation 32</a></td></tr>
            <tr><td><a href="#">Dividend distribution policy by listed entities based on market capitalization as specified in sub-regulation (1) of regulation 43A</a></td></tr>
            <tr><td><a href="#">Annual return as provided under section 92 of the Companies Act, 2013 and the rule made thereunder</a></td></tr>
            <tr><td><a href="#">Name of the debenture trustees with full contact details as per Reg 62(1)(e)</a></td></tr>
            <tr><td><a href="#">All information, reports including compliance reports filed by the listed entity, notices, call letters, circulars, proceedings, etc. concerning non-convertible redeemable preference shares or non-convertible debt securities</a></td></tr>
            
        </table>
        <b>Note:</b>
        <br>The following compliance requirements are not applicable to the Company:
        <br>Regulation 46(2)(n) - Details of agreements entered into with the media companies and/or their associates
        <br>Regulation 46(2)(p) - New name and the old name of the listed entity for a continuous period of one year, from the date of the last name change
        <br>Regulation 62(1)(h) - All information with respect to the following events:
        <br>(i) default by issuer to pay interest on or redemption amount
        <br>(ii) failure to create a charge on the assets
        <br><br><br><br><br>
    </div>
</div>


{% endblock content %}
