{% extends 'base.html' %}
{% block extra_head %}<title>HOME TALLY</title>{% endblock %}
{% block content %}
</div>
<section>
    <div class="row" style="margin-top:-80px;">
        <div class="col-lg-6 col-md-12 hometallyRightdiv" style="margin-left: -12px;">
            <div class="content p-5">
                <div class="fixed-top sticky" style="margin-top: 200px;position:sticky;" id="hometallyRightdiv-content"><h1>HOME ALLY</h1>
                    <br>
                    <b>MILESTONES IN YOUR HOME SEARCH</b><br><br><br><br><br>
                    Home Ally by Godrej Properties makes finding your dream home effortless. Our comprehensive guide outlines 10 essential milestones to lead you towards your perfect home.
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-dm-12 hometallyLeftdiv">
            <table style="margin-top:25%;">
                <tr>
                    <th><h1>1</h1></th>
                    <td>
                        <div id="outer" class="rounded-circle">
                            <div id="mediam" class="rounded-circle">
                                <img src="../media/image/image3.webp" class="rounded-circle">
                            </div>
                        </div>
                    </td>
                    <td>
                        <p>
                            <h3>Real Estate Terms</h3>
                            Where should I look for projects information online?<br>
                            <a href= "{% url 'real-estate-terms' 'termcondition' %}" style="text-decoration: none;color:normal;"> Read More >></a>

                        </p>
                    </td>

                </tr>

                <tr>
                    <th><h1>1</h1></th>
                    <td>
                        <div id="outer" class="rounded-circle">
                            <div id="mediam" class="rounded-circle">
                                <img src="../media/image/image3.webp" class="rounded-circle">
                            </div>
                        </div>
                    </td>
                    <td>
                        <p>
                            <h3>Online Research</h3>
                            Where should I look for projects information online?<br>
                            <a href= "{% url 'real-estate-terms' 'onlineresearch' %}" style="text-decoration: none;color:normal;"> Read More >></a>

                        </p>
                    </td>

                </tr>

                <tr>
                    <th><h1>1</h1></th>
                    <td>
                        <div id="outer" class="rounded-circle">
                            <div id="mediam" class="rounded-circle">
                                <img src="../media/image/image3.webp" class="rounded-circle">
                            </div>
                        </div>
                    </td>
                    <td>
                        <p>
                            <h3>The Right Property</h3>
                            Where should I look for projects information online?<br>
                            <a href= "{% url 'real-estate-terms' 'rightproperty' %}" style="text-decoration: none;color:normal;"> Read More >></a>

                        </p>
                    </td>

                </tr>
            </table>
        </div>
    </div>
</section>
<section>
    <p style="margin:30px;">
       <b> Disclaimer: </b>Godrej Properties Limited (GPL) has made available this website solely for educational and informative purposes with regard to real estate sector and no warranty is made with respect to the accuracy or reliability of the information provided. There is no assurance that any statement contained or cited herein is complete, correct or precise and the same is not to be construed as a legal advice on the matter. GPL has the right to alter or modify any content on the website at its sole discretion. GPL disowns any liability that may arise in connection with the use of this information. Interested persons are advised to apprise 
        themselves of necessary information before investing/purchasing any property.
    </p>
</section>
{% endblock content %}
