{% extends 'base.html' %}
{% block content %}
</div>
{% include "aboutusheader.html" %}
<img src="../media/image/management.webp" style="margin-top:-205px;height:620px;width:100%;">
<p class="url-directory"><a href="/">Home</a> >> <a href="aboutus">Outstory</a> >> <a href="management"><b>{{ last_url_word }}</b></a> <p>
<div class="d-flex justify-content-center align-items-center" style="width: 100hh;">
    <span class="mx-2"><button id="managementBtn" style="text-decoration: none;color:black;border:none;background: none;"><b>Board of Director</b></button></span>
    <span class="mx-2"><button id="committeesBtn" style="text-decoration: none;color:black;border:none;background: none;"><b>Commitees of GPL</b></button></span>   
</div>

<div class="d-flex justify-content-center align-items-center" style="width: 100hh;">
    <canvas style="height: 3px;background-color: black;width:100px;margin-left: -160px;" id="management-view"> </canvas>
    <canvas style="height: 3px;background-color: black;width:100px;margin-left: 150px;display:none;" id="committees-view"> </canvas>  
</div>

<div id="management-view2">
    <div class="container" style="display:block;">
        <div class="row mt-5" style="margin-left: 200px;">
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card text-white">
                    <img class="card-img" src="../media/image/image2.webp" alt="reward-logo">
                    <div class="card-img-overlay d-flex align-items-start justify-content-center">
                        <h5 class="card-title">Overlay Text</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card text-white">
                    <img class="card-img" src="../media/image/image1.webp" alt="reward-logo">
                    <div class="card-img-overlay d-flex align-items-start justify-content-center">
                        <h5 class="card-title">Overlay Text</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card text-white">
                    <img class="card-img" src="../media/image/image1.webp" alt="reward-logo">
                    <div class="card-img-overlay d-flex align-items-start justify-content-center">
                        <h5 class="card-title">Overlay Text</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card text-white">
                    <img class="card-img" src="../media/image/image1.webp" alt="reward-logo">
                    <div class="card-img-overlay d-flex align-items-start justify-content-center">
                        <h5 class="card-title">Overlay Text</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card text-white">
                    <img class="card-img" src="../media/image/image1.webp" alt="reward-logo">
                    <div class="card-img-overlay d-flex align-items-start justify-content-center">
                        <h5 class="card-title">Overlay Text</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card text-white">
                    <img class="card-img" src="../media/image/image1.webp" alt="reward-logo">
                    <div class="card-img-overlay d-flex align-items-start justify-content-center">
                        <h5 class="card-title">Overlay Text</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card text-white">
                    <img class="card-img" src="../media/image/image1.webp" alt="reward-logo">
                    <div class="card-img-overlay d-flex align-items-start justify-content-center">
                        <h5 class="card-title">Overlay Text</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="committees-view2" style="display:none;">
    <div class="container">
        <div class="row mt-5" style="margin-left: 200px;">
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card text-white">
                    <img class="card-img" src="../media/image/image1.webp" alt="reward-logo">
                    <div class="card-img-overlay d-flex align-items-start justify-content-center">
                        <h5 class="card-title">Overlay Text</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card text-white">
                    <img class="card-img" src="../media/image/image1.webp" alt="reward-logo">
                    <div class="card-img-overlay d-flex align-items-start justify-content-center">
                        <h5 class="card-title">Overlay Text</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card text-white">
                    <img class="card-img" src="../media/image/image1.webp" alt="reward-logo">
                    <div class="card-img-overlay d-flex align-items-start justify-content-center">
                        <h5 class="card-title">Overlay Text</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card text-white">
                    <img class="card-img" src="../media/image/image1.webp" alt="reward-logo">
                    <div class="card-img-overlay d-flex align-items-start justify-content-center">
                        <h5 class="card-title">Overlay Text</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card text-white">
                    <img class="card-img" src="../media/image/image1.webp" alt="reward-logo">
                    <div class="card-img-overlay d-flex align-items-start justify-content-center">
                        <h5 class="card-title">Overlay Text</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card text-white">
                    <img class="card-img" src="../media/image/image1.webp" alt="reward-logo">
                    <div class="card-img-overlay d-flex align-items-start justify-content-center">
                        <h5 class="card-title">Overlay Text</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5">
                <div class="card text-white">
                    <img class="card-img" src="../media/image/image1.webp" alt="reward-logo">
                    <div class="card-img-overlay d-flex align-items-start justify-content-center">
                        <h5 class="card-title">Overlay Text</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}