{% extends 'base.html' %}
{% block content %} 
{% load static %} 
{% block head %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Godrej Properties</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Bootstrap js-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <!-- Popper.js (required for Bootstrap) -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="../static/js/bootstrap.min.js"></script>
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" rel="javascript"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">
        
        <!-- Link to your custom CSS -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static '../static/project.css' %}" rel="stylesheet">
        <!-- Link to your custom JavaScript -->
        <script src="{% static '../static/project.js' %}" async defer></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    </head>
{% endblock head %} 
<div class="container-fluid mb-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <span class="view-option"><i class="bi bi-list"></i> <span class="list-views"><a href="#"  id="listviews" style="font-weight:bold;text-decoration:underline;">List Views</a></span></span>
                <span class="view-option"><i class="bi bi-map"></i> <span class="map-views"><a href="{% url 'projectMapView' %}"  id="mapviews" style="">Map Views</a></span></span>
            </div>
        </div>
    </div>
    <div class="container-list" style="padding:5px;">
        <div class="row textAlign-center d-flex align-items-center">
            <div class="col-lg-12 col-md-12 text-center">
                <span class="line-before"></span>
                <span class="text"><b>FIND WHERE YOU BELONG</b></span>
                <span class="line-after"></span>
            </div>
        </div>
    
        
        
        <div class="input-group mb-3 mt-3">
            <span class="input-group-text" id="basic-addon1" style="float: left;padding:0px;border-radius: 0px;"><i class="bi bi-search"></i></span>
            <input type="text" id="filterInput" class="form-control" placeholder="Enter Project Name" aria-label="Project Name" aria-describedby="basic-addon1" style="border:none;height:100%;">
        </div>    
    
        <div class="input-group" id="selectSearch" style="background-color:black;border:1px solid black;">
            <button class="btn-outline-secondary dropdown-toggle col-lg-2 col-md-12" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="commercialValue" style="border:none;color:gray;">
                TYPE
            </button>
            <ul class="dropdown-menu" style="border:none;">
                <li><a class="dropdown-item" href="#"><input type="radio" value="Residential" name="option" onclick="updateCommercialValue(this.value)"> Residential</a></li>
                <li><a class="dropdown-item" href="#"><input type="radio" value="Commercial" name="option" onclick="updateCommercialValue(this.value)"> Commercial</a></li>
            </ul>
            <button class="btn btn-outline-secondary dropdown-toggle col-lg-2 col-md-12" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:gray;"><span id="citycount"> </span> CITIES</button>
            <div class="dropdown-menu" >
                <table class="table">
                    <tr>
                        <td><a class="dropdown-item" href="#"><input id="mumbai-checkbox" type="checkbox" value="Mumbai" name="option" class="cities-checkbox" onclick="updateCheckboxCount()"> Mumbai</a></td>
                        <td><a class="dropdown-item" href="#"><input id="delhi-checkbox" type="checkbox" value="Delhi" name="option" class="cities-checkbox" onclick="updateCheckboxCount()"> Delhi</a></td>
                        <td><a class="dropdown-item" href="#"><input id="noida-checkbox" type="checkbox" value="Noida" name="option" class="cities-checkbox" onclick="updateCheckboxCount()"> Noida</a></td>
                        <td><a class="dropdown-item" href="#"><input id="gurugram-checkbox" type="checkbox" value="Gurugram" name="option" class="cities-checkbox" onclick="updateCheckboxCount()"> Gurugram</a></td>
                    </tr>
                    <tr>
                        <td><a class="dropdown-item" href="#"><input id="bengaluru-checkbox" type="checkbox" value="Bengaluru" name="option" class="cities-checkbox" onclick="updateCheckboxCount()"> Bengaluru</a></td>
                        <td><a class="dropdown-item" href="#"><input id="pune-checkbox" type="checkbox" value="Pune" name="option" class="cities-checkbox" onclick="updateCheckboxCount()"> Pune</a></td>
                        <td><a class="dropdown-item" href="#"><input id="other-checkbox" type="checkbox" value="Other" name="option" class="cities-checkbox" onclick="updateCheckboxCount()"> Other</a></td>
                    </tr>
                </table>
                
            </div>
    
            <button class="btn btn-outline-secondary dropdown-toggle col-lg-2 col-md-12" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:gray;">STATUS</button>
            <div class="dropdown-menu">
                <table class="table">
                    <tr>
                        <td><a class="dropdown-item" href="#"><input id="status-checkbox" type="checkbox" value="new launches" name="option" class="status-checkbox" onclick="updateFilter()"> New Launch</a></td>
                        <td><a class="dropdown-item" href="#"><input id="status-checkbox" type="checkbox" value="Upcoming" name="option" class="status-checkbox" onclick="updateFilter()"> Up Comming</a></td>
                    </tr>
                    <tr>
                        <td><a class="dropdown-item" href="#"><input id="status-checkbox" type="checkbox" value="Pending" name="option" class="status-checkbox" onclick="updateFilter()">Pending</a></td>
                        <td><a class="dropdown-item" href="#"><input id="status-checkbox" type="checkbox" value="NA" name="option" class="status-checkbox" onclick="updateFilter()"> Other</a></td>
                    </tr>
                    
                </table>
            </div>
    
            <button class="btn btn-outline-secondary dropdown-toggle col-lg-2 col-md-12" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:gray;" >BUDGET</button>
            <div class="dropdown-menu col-lg-2 col-md-12" >
                <input type="range" min="0" max="100" value="50" class="slider" id="myRange" oninput="updateValue(this.value)">
                <span id="rangeValue">50</span>
            </div>
            <button class="btn-dark col-lg-2 col-md-12" style="margin-right:none;width:265px;background-color:black;border:none;"> <a href="#" style="text-decoration: none;color:gray;" onclick="resetAll()">RESET </a> </button>
        </div>
        <div class="col-md-12 mb-3 mt-3">
            <label class="form-check-label" for="flexSwitchCheckDefault">New launches only</label>
            <div class="form-check form-switch" style="float:left;">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            </div>
            <div style="float:right">
                <a href="#" style="text-decoration:none;">More filter</a>
            </div>
        </div>
        
        <div class="row textAlign-center d-flex align-items-center mb-3">
            <div class="col-lg-12 col-md-12 text-center">
                <span class="line-before"></span>
                <span class="text"><b>EXPLORE HOMES</b></span>
                <span class="line-after"></span>
            </div>
        </div>
        <div class="row card-container project-div" id="project_div">
            {% for project in project_list %}
                <div class="card">
                    <div class="card-image">
                        <img src="..{{project.picture}}" alt="picture" class="card-img col-lg-12 col-md-12" style="width:100%;height:350px;">
                        
                        <div class="card-img-text">
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <span class="bi-beds">
                                        <i class="bi bi-person-workspace"></i>
                                    </span>
                                    <span>Beds</span>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    plots
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <span class="bi-beds">
                                        <i class="bi bi-bounding-box"></i>
                                    </span>
                                    <span>Area</span>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    Available on request
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <span class="bi-beds" style="border:1px solid;border-radius:49%;text-align:center;padding:7px;">
                                        &#8377; 
                                    </span>
                                    <span> &nbsp; Price</span>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    INR <span class="price">{{project.price}}</span> lakh onword
                                </div>
                            </div>
                        
                            <hr>
                            <div class="col-lg-12 col-md-12">
                                <span><i class="bi bi-chat"></i></span>
                                <span>
                                    <a href="#" onclick="enquirynow('{{project.name}}')">Enquire Now</a>
                                </span>
                            </div>
                            <div class="col-lg-12 col-md-12 mt-1">
                                <span><i class="bi bi-calendar-check"></i></span>
                                <span> <a href="#" onclick="scheduleOn('{{project.name}}')">Shedule visit</a></span>
                            </div>
                            <div class="col-lg-12 col-md-12 mt-1">
                                <span><i class="bi bi-telephone-fill"></i></span><span><a href="tel:+918171479684" onclick="callus('{{project.name}}','{{project.city}}')">Call Us</a></span>
                            </div>
                            <div class="col-lg-12 col-md-12 mt-1">
                                <span><i class="bi bi-whatsapp"></i></span><span><a href="https://wa.me/+918171479684?text=Hello%20I%20would%20like%20to%20inquire%20about%20your%20services" target="_blank"> Whatsapp</a></span>
                            </div> 
                        </div>
                        
                        
                        <a href="{% url 'projectview' project.id %}" style="text-decoration: none;">
                            <div class="card-content">
                                <p class="col-lg-12 col-md-12 img-location">
                                    <span style="flaot:left;">{{project.location}}</span>
                                    
                                </p>
                            </div>
                            
                            <div class="card-content">
                                <h6>{{ project.title|slice:":25" }}...</h6>
                                <p>
                                    <span style="border:1px groove gray;padding:3px;border-radius:2px;">
                                        <span style="color:blue;"><i class="bi bi-star" style="border: none;"></i></span> 
                                        <span class="status">{{project.status}}</span></span> <span class="environmenttype"> {{project.property_type}}</span></p>
                                <p><strong>INR</strong> {{project.price}}.00 Lakh onwards | <strong>Possession Date </strong>{{project.possession_date}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="textAlign-center d-flex align-items-center mb-3 justify-content-center ">
            <div class="pagination" style="margin-top: 3%;font-size: 22px;color: #00ff89;">
                <!-- Pagination links -->
                <div class="col-lg-12 col-md-12 step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </div>
            </div>
        </div>  
    </div>
    
    
    
    <script>
        fetch("{% url 'getmap' %}")
            .then(response => response.json())
            .then(data => {
                const mapUrl = data.map_url;
                const iframe = document.createElement('iframe');
                iframe.src = mapUrl;
                iframe.width = "100%";
                iframe.height = "500px";
                iframe.frameBorder = "0";
                document.getElementById('map-container').appendChild(iframe);
            })
            .catch(error => {
                console.error('Error loading map:', error);
            });

        //----------------------------filter javascripts-----------------------------
        let filter_row_collection = [];
        let type_arr = [];
        let type_row_collection = [];
        let city_arr = [];
        let city_row_collection = [];
        let status_arr = [];
        let status_row_collection = [];
        let price = 1000;

        const rows = document.querySelectorAll(".card");

        function allFilter() {
            filter_row_collection = [];
            if(type_arr.length===0 && city_arr.length === 0 && status_arr.length === 0){
                rows.forEach(row=>{
                    filter_row_collection.push(row);
                })
            }

            // Combine filters for type, city, and status
            rows.forEach((row) => {
                const matchesType = type_row_collection.length === 0 || type_row_collection.includes(row);
                const matchesCity = city_row_collection.length === 0 || city_row_collection.includes(row);
                const matchesStatus = status_row_collection.length === 0 || status_row_collection.includes(row);

                if (matchesType && matchesCity && matchesStatus) {
                    filter_row_collection.push(row);
                }
            });

            // Step 2: Apply the filters and check price
            rows.forEach((row) => {
                const priceCell = row.querySelector('.price'); // Assuming there's a `.price` element in each row

                if (filter_row_collection.length !== 0) {
                    if (filter_row_collection.includes(row)) {
                        row.style.display = (parseInt(priceCell.textContent) <= parseInt(price)) ? "" : "none";
                    } else {
                        row.style.display = "none";
                    }
                } else {
                    row.style.display = (parseInt(priceCell.textContent) <= parseInt(price)) ? "" : "none";
                }
            });
        }

        function updateCommercialValue(value) {
            type_row_collection = [];
            type_arr.push(value.toLowerCase());
            document.getElementById('commercialValue').textContent = value;

            const filterValue = value.toLowerCase();
            rows.forEach((row) => {
                const cells = row.querySelectorAll('.environmenttype');
                cells.forEach((cell) => {
                    if (cell.textContent.toLowerCase().includes(filterValue)) {
                        type_row_collection.push(row);
                    }
                });
            });
            allFilter();
        }

        function updateValue(value) {
            document.getElementById('rangeValue').textContent = value;
            price = value;
            allFilter();
        }

        function updateCheckboxCount() {
            city_row_collection = [];
            city_arr = [];

            const checkboxes = document.querySelectorAll('.cities-checkbox');
            checkboxes.forEach((city) => {
                if (city.checked) {
                    city_arr.push(city.value.toLowerCase());
                }
            });

            document.getElementById('citycount').innerText = city_arr.length;

            const checkedValues = city_arr;
            if (checkedValues.length === 0) {
                allFilter();
            } else {
                rows.forEach((row) => {
                    const cells = row.querySelectorAll('p');
                    cells.forEach((cell) => {
                        checkedValues.forEach((value) => {
                            if (cell.textContent.toLowerCase().includes(value)) {
                                city_row_collection.push(row);
                            }
                        });
                    });
                });
            }
            allFilter();
        }

        function updateFilter() {
            status_row_collection = [];
            status_arr = [];

            const checkboxes = document.querySelectorAll('.status-checkbox');
            checkboxes.forEach((status) => {
                if (status.checked) {
                    status_arr.push(status.value.toLowerCase());
                }
            });

            if (status_arr.length === 0) {
                allFilter();
            } else {
                rows.forEach((row) => {
                    const statusCell = row.querySelector('.status');
                    if (statusCell && status_arr.includes(statusCell.textContent.toLowerCase())) {
                        status_row_collection.push(row);
                    }
                });
                allFilter();
            }
        }


        function resetAll() {
            filter_row_collection = [];
            type_arr = [];
            type_row_collection = [];
            city_arr = [];
            city_row_collection = [];
            status_arr = [];
            status_row_collection = [];
            price = 1000;
        
            document.getElementById('commercialValue').textContent = 'TYPE'; // Reset commercial value display
            document.getElementById('rangeValue').textContent = price; // Reset price display
            document.getElementById('citycount').innerText = '0'; // Reset city count display
        
            // Uncheck all checkboxes
            document.querySelectorAll('.cities-checkbox, .status-checkbox').forEach(checkbox => {
                checkbox.checked = false;
            });
        
            allFilter(); // Reapply the filter with reset values
        }
        
        const filterInput = document.getElementById('filterInput');
        filterInput.addEventListener('keyup', function() {
            const filterValue = filterInput.value.toLowerCase();
            rows.forEach(row => {
                
                const cells = row.querySelectorAll('h6');
                let matches = false;

                cells.forEach(cell => {
                    if (cell.textContent.toLowerCase().includes(filterValue)) {
                        matches = true;
                    }
                });

                if (matches) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });
        const switchCheck = document.getElementById('flexSwitchCheckDefault');
        switchCheck.addEventListener('change', function() {
            if (this.checked) {
                const filterValue = "Upcoming";
                if(filter_row_collection.length !== 0){
                    rows.forEach(row => {
                        
                        const cells = row.querySelector('.status');
                        let matches = false;
                        if(cells.textContent.includes(filterValue)){
                            matches=true;
                        }
                    });
                }else{
                    filter_row_collection.forEach(row => {
                        
                        const cells = row.querySelector('.status');
                        let matches = false;
                        if(cells.textContent.includes(filterValue)){
                            matches=true;
                        }
                        
                        if (matches) {
                            row.style.display = '';
                        } else {
                            row.style.display = 'none';
                        }
                    });
                }
            } 
            else {
                const rows = document.querySelectorAll('.card');
                rows.forEach(row => {
                    
                        row.style.display = '';
                });
            
            }
        });


    //------------------------------Google map show-------------------------------------------------------------------------------------------------
    

        
        
    </script>
    
    
    


    </div>
</div>
<section>
    {% include "promosionForm.html" %}
</section>
{% endblock%}





