{% extends "base.html" %}

{% if termcondition %}
    <section class="header-image">
        <div class="row">
            <div class="col-lg-12 col-md-12 position-relative p-0">
                <a href="/hometally">
                    <span class="back-to-home">
                        <i class="bi bi-arrow-left"></i>
                        <h4><b>Back To Home</b></h4>
                    </span>
                </a>
                <img src="../media/image/image3.webp" class="img-fluid" style="width:100%;height:500px;">
                <div class="col-12 text-center image-text fs-1">
                    <b>Understanding Real Estate Terms</b>
                </div>
            </div>
        </div>
    </section>
    <section class='onlineresearch'>
        <div class="row mt-5">
            <center>
                <div class="col-lg-10 col-md-12 text-left">
                    <hr>
                    <span style="float: left;"><h3>What are the important Real Estate Terms that I should be aware of ?</h3></span>
                    <a href="#homeloanricontent" onclick="shownriloan()"><span style="float: right;font-size:40px;" id="symbol">-</span></a><br><br><br>
                    <div id="homeloanricontent" style="">
                        <p>
                            <b>RERA:</b>The Real Estate Regulation and Development Act (RERA) 2016 effective from 1st May 2017, is the law created to regulate the real estate sector. It seeks to ensure transparency and accountability in the real estate sector. It sets up clear regulations to protect the home buyers & developers against default and provides for fast track grievance redressal.

                            <br><b>RERA REGISTRATION NUMBER:</b>A RERA Registration Number is assigned to a project after its registration with the RERA authority in the state. It is granted to projects once all required documents have been submitted by the developer and validated by the RERA authority. It indicates that a project is being developed in compliance with RERA.
                                                <br>
                            <br><b>CARPET AREA:</b>As per RERA, Carpet Area is the net usable area of the apartment. This excludes the area covered by external walls, areas under service shafts, exclusive balcony or veranda. However, this includes the area covered by the internal partition walls of the apartment.
                                            <br>
                            <br><b>BUILT-UP AREA:</b>Built-up Area includes the carpet area, outer wall thickness and the balcony.
                                            <br>
                            <br><b>SUPER BUILT-UP AREA:</b>The built-up area along with a share of all common areas such as the lobby, lift shafts, stairs, etc. proportionately divided amongst all unitsmakes up the Super Built-up Area.
                                            <br>
                            <br><b>FLOOR SPACE INDEX (FSI):</b>Floor Space Index is the ratio of the combined gross floor area of all floors (except areas specifically exempted under regulations) to the total area of the plot. It varies from locality to locality depending on the surrounding infrastructure to support the development. A higher FSI will have a higher built-up area.
                                            <br>
                            <br><b>LOADING FACTOR:</b>Loading Factor is the multiplier applied to the carpet area that accounts for a flat's proportionate share of the common area. Thus, the Loading Factor, when combined with the carpet area, leads to the super built-up area.
                                            <br>
                            <br><b>CLEARANCE CERTIFICATE:</b>A Clearance Certificate is used to attest that an entity/person has paid all dues and is clear of any liabilities that they held towards another entity/person.
                                            <br>
                            <br><b>COMMENCEMENT CERTIFICATE:</b>A Commencement Certificate is issued by the local authorities to a real estate developer giving them the final permit to start construction. It is issued only after the developer presents all required clearances and sanctions. It is mandatory for a developer to obtain this document before commencing the construction of a building.
                                            <br>
                            <br><b>COMPLETION CERTIFICATE:</b>A Completion Certificate is issued by a local authoritystating that thedevelopment has been in accordance to the approved sanctioned plans or specifications.
                                            <br>
                            <br><b>CONVEYANCE DEED:</b>A Conveyance Deed is a legal document that shows the transfer of property title from one person to another. It is similar to a sale deed; however, it has a broader application. It not only covers cases where title is transferred through sale, but also includes transfer of title in case of a gift, exchange, lease, mortgage or any other circumstances.
                                            <br>
                            <br><b>ENCUMBRANCE CERTIFICATE:</b>Encumbrance Certificate or EC is a certificate that assures that a property is free from all liabilities and has an adequate legal title. An EC may also contain liabilities created on a property that is held against a home loan as security. It is a clear indicator of all transactions with regard to the property.
                                            <br>
                            <br><b>NO OBJECTION CERTIFICATE (NOC):</b>NOC is issued by any agency, organization or institute indicating the intent of not objecting with the development proposed in a vicinity.
                                            <br>
                            <br><b>OCCUPATION CERTIFICATE (OC):</b>Occupation Certificate or Possession Certificate is issued by the local government authorities pronouncing a building suitable for habitation.
                                            <br>
                            <br><b>PROPERTY CARD:</b>Property Card is the legal proof of ownership of land in an urban area. It contains the history of ownership of a land parcel.
                                            <br>
                            <br><b>SALE DEED/FINAL DEED:</b>A sale deed is a very important legal document for evidencing sale and transfer of ownership of property in favour of the buyer from the seller. The sale deed is executed subsequent to the execution of the sale agreement/agreement for sale, and after compliance of various terms and conditions detailed in the agreement for sale/sale agreement.
                                            <br>
                            <br><b>STAMP DUTY:</b>Stamp Duty is a tax levied by the government on the purchase of a property.
                                            <br>
                            <br><b>IGBC CERTIFICATION:</b>Indian Green Building Council (IGBC) Green Homes is a rating programme developed in India, exclusively for the residential sector. The objective is to facilitate the effective use of site resources, water conservation, energy efficiency, and handling of household waste, optimum material utilization and design for healthy, comfortable & environmentally friendly homes. The Certification Levels Awarded are Silver, Gold, and Platinum based on the extent of sustainable practices followed.
                        </p>
                        
                    </div>
                </div>
            </center>
        </div>

    </section>
{% endif %}
{% if onlineresearch %}
    <section class="header-image">
        <div class="row">
            <div class="col-lg-12 col-md-12 position-relative p-0">
                <a href="/hometally">
                    <span class="back-to-home">
                        <i class="bi bi-arrow-left"></i>
                        <h4><b>Back To Home</b></h4>
                    </span>
                </a>
                <img src="../media/image/image3.webp" class="img-fluid" style="width:100%;height:500px;">
                <div class="col-12 text-center image-text fs-1">
                    <b>Conducting Online Research</b>
                </div>
            </div>
        </div>
    </section>
    <section>
        
        <div class="row mt-5">
            <center>
                <div class="col-lg-10 col-md-12 text-left">
                    <hr>
                    <span style="float: left;"><h3>Where should I look for project information online?</h3></span>
                    <a href="#homeloanricontent" onclick="shownriloan()"><span style="float: right;font-size:40px;" id="symbol">+</span></a><br><br><br>
                    <div id="homeloanricontent" style="display: none;">
                        <p>
                            <li><b>RERA Website of your State: </b> RERA is the most trustworthy source of information online. RERA website of state (For example RERA website of Maharashtra) will provide you with all critical information of the developer and the project.</li>
                            <li><b>Developer’s website:</b> All reputed developers upload their project related information on their website. Information regarding Project brochure, location, master plan, floor plan, developer’s other projects, ongoing offers, list of real estate agents, etc. can be found on website.</li>
                            <li><b>Online Realty Portals:</b>  Property portals like 99 acres, Magicbricks, Commonfloor, etc. provide convenient ways of filtering projects based on locality, apartment type, budget, availability and area</li>
                        </p>
                        
                    </div>
                </div>

                <div class="col-lg-10 col-md-12">
                    <hr>
                    <span style="float: left;"><h3>Why do I see different prices for the same project online?</h3></span>
                    <a href="#eligiblereceive" onclick="eligiblereceive()"><span style="float: right;font-size:40px;" id="symbol2">+</span></a><br><br><br>
                    <div id="eligiblereceive" style="display: none;" class="text-left">
                        <p>
                            <ul>
                            It may happen due to multiple reasons:

                            <li><b>Different Carpet Areas of the units – </b>the more the area, higher is the price.</li>
                            <li><b>Preferential location charges – </b>A higher floor house/the house with a garden view may be priced higher.</li>
                            <li><b>New Sale or Resale – </b>New sale by a developer or a buyer reselling their property may also result in price difference.</li>
                        </p>
                    </div>
                </div>

                <div class="col-lg-10 col-md-12">
                    <hr>
                    <span style="float: left;"><h3>Is it possible to find all project information online?</h3></span>
                    <a href="#propertydocs" onclick="propertydocs()"><span style="float: right;font-size:40px;" id="symbol3">+</span></a><br><br><br>
                    <div id="propertydocs" style="display: none;" class="text-left">
                        <p>
                            <ul>
                                Through a thorough online search, you can find a lot of relevant project information online that could enable you to be more informed before a site visit or interaction with any developer’s representative:
                                <li><b>Project overview – </b>Developer’s website<br><br></li>
                                <li><b>Project photos – </b>Developer’s website<br><br></li>
                                <li><b>Project construction status – </b>RERA website<br><br></li>
                                <li><b>Project proposed date of completion – </b>RERA website<br><br></li>
                                <li><b>Project litigations - </b>RERA website<br><br></li>
                                <li><b>Project approvals - </b>RERA website<br><br></li>
                                <li><b>Project Real Estate Agents- </b>RERA website<br><br></li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="col-lg-10 col-md-12">
                    <hr>
                    <span style="float: left;"><h3>How can I connect directly with the company representative?</h3></span>
                    <a href="#representative" onclick="representative()"><span style="float: right;font-size:40px;" id="symbol5">+</span></a><br><br><br>
                    <div id="representative" style="display: none;" class="text-left">
                        <p>
                            If you wish to connect with the developer directly, make sure to go to the official website of the developer and connect on the contact co-ordinates mentioned there.
                        </p>
                    </div>
                </div>

                <div class="col-lg-10 col-md-12">
                    <hr>
                    <span style="float: left;"><h3>How to connect with a credible real estate agent for the project?</h3></span>
                    <a href="#additionaldocs" onclick="additionaldocs()"><span style="float: right;font-size:40px;" id="symbol4">+</span></a><br><br><br>
                    <div id="additionaldocs" style="display: none;" class="text-left">
                        <p>
                            <br>As per RERA, each real estate agent needs to be registered with the authority. RERA provides the registration number along with the registration certificate to every RERA authorized real estate agent.
                            <br>
                            <br>You can check information of all registered agents through the RERA website by searching for his/her name or Agent registration number(For example, MahaRERA website→ Registration→ Registered Agents → Search→ View details)
                            <br>
                            <br>List of registered real estate agents can be checked online on state-specific RERA sites (For example, MahaRERA website→ Registration→ Registered Projects→ Search→ View Details→ Project Professional Information)
                        </p>
                    </div>
                </div>
            </center>
        </div>
    
    </section>
    
{% endif %}
    

{% if rightproperty %}
    <section class="header-image">
        <div class="row">
            <div class="col-lg-12 col-md-12 position-relative p-0">
                <a href="/hometally">
                    <span class="back-to-home">
                        <i class="bi bi-arrow-left"></i>
                        <h4><b>Back To Home</b></h4>
                    </span>
                </a>
                <img src="../media/image/image3.webp" class="img-fluid" style="width:100%;height:500px;">
                <div class="col-12 text-center image-text fs-1">
                    <b>Choosing The Right Property</b>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row mt-5">
            <center>
                <div class="col-lg-10 col-md-12 text-left">
                    <hr>
                    <span style="float: left;"><h3>How should I shortlist projects for site visit?</h3></span>
                    <a href="#homeloanricontent" onclick="shownriloan()"><span style="float: right;font-size:40px;" id="symbol">+</span></a><br><br><br>
                    <div id="homeloanricontent" style="display: none;">
                        <p>
                            <ul>
                            Following criteria can be used to shortlist projects:

                           <li><b> Right Project:</b>
                            <ul>
                                <li><b>Locality: </b>Distance from the hospital, school, metro station, airport, your work location, etc.</li>
                                <li><b>Apartment type: </b>Whether your required type (1 BHK/2 BHK/3 BHK, etc.) is available</li>
                                <li><b>Budget: </b>Approximate ticket size in the project and whether it fits in your budget</li>
                                <li><b>Availability: </b>If the building is under construction/ready-to-move-in/resale property</li>
                                <li><b>Residential type: </b>Type of property - apartment, developer floor, villa, farmhouse, studio apartment, service apartment etc.</li>
                                <li><b>Amenities: </b>Available amenities like lift, park, gymnasium, swimming pool, security personnel, power backup, gas pipeline, parking, clubhouse, sports amenities, etc.</li>
                                <li><b>Furnishing: </b>Furnishing provided: unfurnished/semi furnished/fully furnished?</li>
                                <li><b>Carpet area: </b>Your requirement of minimum carpet Area.</li>
                            </ul>
                           </li>
                           <li>
                                <b>Right Developer:</b>
                                <ul>
                                    <li><b>Past projects: </b>The type of projects the developer has delivered in past.</li>
                                    <li><b>Delivery record: </b>Time taken by the developer to complete his previous projects</li>
                                    <li><b>Financials: </b>The prominent lenders which are backing the project, if any.</li>
                                    <li><b>Occupancy rates: </b>Occupancy Rates for the already delivered projects of the developer.</li>
                                    <li><b>Market sentiment: </b>A quick search related to developer online across real estate news and blogs, to get an idea of the developer’s reputation.</li>
                                </ul>
                           </li>
                        </ul>
                        </p>
                        
                    </div>
                </div>

                <div class="col-lg-10 col-md-12 text-left">
                    <hr>
                    <span style="float: left;"><h3>Which quality parameters should I assess before construction begins?</h3></span>
                    <a href="#eligiblereceive" onclick="eligiblereceive()"><span style="float: right;font-size:40px;" id="symbol2">+</span></a><br><br><br>
                    <div id="eligiblereceive" style="display: none;" class="text-left">
                        <p>
                            <ul>
                                <li><b>Construction technology: </b>This will be the major factor affecting the construction quality Modern technologies like Mivan, Pre-Fab provide long lasting quality of construction.
                                <li><b>Flat density: </b>More the number of flats per acre, lesser will be your share in the common amenities. Similarly, the number of users per lift will give an indication of how long you will need to wait for the lift.</li>
                                <li><b>Ceiling height: </b>A High ceiling height will provide better air circulation</li>
                                <li><b>Bathroom & sanitary fixtures: </b>Check for the brand of the sanitary fixtures that the developer is providing. Good brands will last longer be aesthetically better.</li>
                                <li><b>Flooring: </b>Quality of flooring will depend on the tiles that are being used.</li>
                                <li><b>Kitchen: </b>At times, developers also provide modular or semi modular kitchens which can be an added advantage.</li>
                                <li><b>Generator backup: </b>Voltage of backup provided varies with projects, higher voltage of back-up will allow you to use air conditioner and other equipment even in the absence of power.</li>
                                <li><b>Security: </b>Some projects provide video door and other advanced forms of security; this can be an added benefit with your flat.</li>
                                <li><b>Paint: </b>Quality of paint will depend on its type and brand. This will be specified by the builder before beginning the construction.</li>
                                <li><b>Electric fitting: </b>Electric fitting brand will also affect its lifetime, this can be checked with developer before the execution of the project.</li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="col-lg-10 col-md-12 text-left">
                    <hr>
                    <p>
                        <span style="float: left;"><h3>What factors should I evaluate to choose between an under construction or ready to move in property?</h3></span>
                        <span style="float:right;"><a href="#propertydocs" onclick="propertydocs()"><span style="float: right;font-size:40px;" id="symbol3">+</span></a></span><br><br><br>
                    </p>
                    <div id="propertydocs" style="display: none;" class="text-left">
                        <p>
                            <li><b>Cost</b> If factors such as location, area, property type, and developer are same, a ready-to-move house usually costs more than an under-construction one.<br></li>
                            <li><b>Risk v/s Returns</b> Buying an under construction property usually yields a higher return on investment due to an extended window period between the buying stage and delivery timeline. There is, however, an element of risk associated with an under-construction property in terms of on-time delivery of the property. With RERA, the risks have significantly reduced.<br></li>
                            <li><b>Availability</b> A ready-to-move in property is available for immediate occupancy. This also potentially saves you from the hassles of paying both the rent and EMIs.<br></li>
                            <li><b>Tax implications</b> Goods and Services Tax levies a 12 percent tax on the purchase of under-construction properties. Ready properties, however, are left out of the ambit of GST. Tax benefits can be availed for home loans under section 24, 80EE and 80C of the Income Tax Act. The benefits under these sections are restricted to only ready-to-move-in properties or if possession is taken within 3 years of availing home loan.<br></li>
                            <li><b>Quality of construction</b> In case of an under-construction property, you are aware of the quality of materials being used and the strength of the foundation; however for a ready-to-move in property, it may be more difficult to ascertain the quality.<br></li>
                            <li><b>Age of Property</b> A ready-to-move in property might start wearing out faster as compared to an under construction property (depending on the age and maintenance)<br></li>
                        </p>
                    </div>
                </div>
            </center>
        </div>
    
    </section>

{% endif %}