<div id="reward">
    <div class="reward-container">
      <div class="reward-content" id="content1">
        <div id="reward_logo"><img src="../media/logo/reward.png" alt="reward-logo"></div>
        <p>Joint Winner – Outstanding Companies,<br> Real Estate Category
        Asia Money Outstanding Company Poll - 2023</p>
      </div>
      <div class="reward-content" id="content2">
        <div id="reward_logo"><img src="../media/logo/reward.png" alt="reward-logo"></div>
        <p>
            Winner – Best Residential Developer – India<br>
            Euromoney’s Global Real Estate Awards - 2023
        </p>
      </div>
      <div class="reward-content" id="content3">
        <div id="reward_logo"><img src="../media/logo/reward.png" alt="reward-logo"></div>
        <p>
            Winner – DEI Champion – LQBTQIA+, Non-Tech
            Aon NASSCOM DEI Champions Award 2023
        </p>
      </div>
      <div class="reward-content" id="content4">
        <div id="reward_logo"><img src="../media/logo/reward.png" alt="reward-logo"></div>
        <p>
            Winner – CSR in Real Estate Category
            Golden Peacock Award 2022
        </p>
      </div>

      <div class="reward-content" id="content5">
        <div id="reward_logo"><img src="../media/logo/reward.png" alt="reward-logo"></div>
        <p>
            Winner – Environmental & Social Initiatives – Infrastructure & Real Estate
            KPMG ESG Conclave and Awards 2023
        </p>
      </div>
    </div>
    <button class="btn-left" onclick="changeContent('left')"><i class="bi bi-arrow-left"></i></button>
    <button class="btn-right" onclick="changeContent('right')"><i class="bi bi-arrow-right"></i></button>
  </div>
</div>