{% extends 'administrator/base.html' %}
{% block content %}
<div class="cards">
    <div class="card-single">
        <div>
            <h1>54</h1>
            <span>Properties</span>
        </div>
        <div>
            <span class="las la-building"></span>
        </div>
    </div>
    <div class="card-single">
        <div>
            <h1>79</h1>
            <span>Agents</span>
        </div>
        <div>
            <span class="las la-user-tie"></span>
        </div>
    </div>
    <div class="card-single">
        <div>
            <h1>124</h1>
            <span>Clients</span>
        </div>
        <div>
            <span class="las la-users"></span>
        </div>
    </div>
    <div class="card-single">
        <div>
            <h1>$6K</h1>
            <span>Earnings</span>
        </div>
        <div>
            <span class="las la-dollar-sign"></span>
        </div>
    </div>
</div>{% endblock content %}